<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Giriş Yap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
     <a class="navbar-brand" href="/">Hatice Çankaya</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Hakkında</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">iletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body class="text-center">
  <link href="{{ url_for('static', filename='css/signin.css')}}" rel="stylesheet">
    <form class="form-signin" action="/dashboard" method="post">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Admin Girişi</h1>
      <label for="uname" class="sr-only">Kullanıcı Adı </label>
      <input type="text" name="uname" id="uname" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
      <label for="pass" class="sr-only">Şifre</label>
      <input type="password" name="pass" id="pass" class="form-control" placeholder="Şifre" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Beni Hatırla
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022 Mart Habitat</p>
    </form>
  </body>
</html>
